body {
    font-family: Arial, sans-serif;
    background-color: black;
}
img{
    width: 400px;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    margin-top: 190px;
}

.container h1 {
    font-size: 400;
    color: blue;
}
.input-group {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

input[type="number"],
select {
    width: 200px;
    padding: 5px;
}

button {
    padding: 8px 15px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}
